

<div class="contact-column">
  <ul>
    <a href="https://github.com/imooney">
      <i class="fa-brands fa-github"></i> GitHub
    </a>
    <br>
    <a href="https://inspirehep.net/authors/1622163">
      <i class="fa-solid fa-book"></i> InspireHep
    </a>
    <br>
    <a href="https://orcid.org/0000-0002-3571-0550">
      <i class="fa-brands fa-orcid"></i> ORCID
    </a>
    <br>
    <a href="https://www.star.bnl.gov/central/collaboration/showMember.php?id=1548">
      <i class="fa-solid fa-atom"></i> STAR
    </a>
  </ul>
</div>
