

<div class="contact-column">
  <ul>
    <a href="mailto:isaac.mooney@yale.edu">
      <i class="fa-solid fa-envelope"></i> Email
    </a>
    <br>
    <a href="https://github.com/imooney">
      <i class="fa-brands fa-github"></i> GitHub
    </a>
    <br>
    <a href="https://www.linkedin.com/in/isaacmooney">
      <i class="fa-brands fa-linkedin"></i> LinkedIn
    </a>
    <br>
    <a href="https://wlab.yale.edu/profile/isaac-mooney">
      <i class="fa-solid fa-building-columns"></i> Wright Lab  
    </a>
    <br>
    <a href="https://www.stonybrook.edu/cfns/people/index.php#JointPostdocs">
      <i class="fa-solid fa-building-columns"></i> CFNS  
    </a>
    <br>
    <a href="https://www.bnl.gov/staff/imooney">
      <i class="fa-solid fa-atom"></i> BNL
    </a>
    <br>
    <a href="https://inspirehep.net/authors/1622163">
      <i class="fa-solid fa-book"></i> InspireHep
    </a>
    <br>
    <a href="https://orcid.org/0000-0002-3571-0550">
      <i class="fa-solid fa-book"></i> ORCID
    </a>
    <br>
    <a
    
  </ul>
</div>
